@font-face {
    font-family: ppfragment;
    src: url('../fonts/PPFragment-GlareLight.otf');
    font-weight: 300;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    // Downloaded Fonts
    --font_primary: 'DM Sans';
    --font_ppfragment: 'ppfragment';
}
$font_primary: 'DM Sans';
$font_ppfragment: 'ppfragment';

// Font Family Classes
.font {
    &-body {
        font-family: var(--font_primary);
    }
    &-heading {
        &-dmsans {
            @include heading ($font_primary);       
        }
    }
}