// .aae-primary-btn{
//     background-color: var(--primary);
//     color: var(--white);
//     padding: 9px 27px;
//     border-radius: 35px;
//     font-size: 16px;
//     line-height: 1.5;
//     cursor: pointer;
//     outline: 1px solid rgba(255, 255, 255, 0.1);
//     outline-offset: 10px;
//     &:hover{
//         background-color: rgba(255, 255, 255, 0.03);
//     }
// }
.aae-login-btn{
    display: inline-flex;
    gap: 7px;
    font-size: 16px;
    line-height: 1.5;
}
.aae-primary-btn{
    background-color: var(--primary);
    color: var(--white);
    padding: 9px 27px;
    border-radius: 35px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    @media #{$sm}{
        padding: 10px 5px;
        font-size: 14px;
    }
    &:hover{
        background-color: rgba(255, 255, 255, 0.03);
    }
}
.aae-secondary-btn{
    background-color: rgba(255, 255, 255, 0.03);
    &:hover{
        background-color: var(--primary);
    }
}