.main-menu {
    &.menu-dark>ul>li>a {
      color: var(--black-2);
    }
  
    &.menu-light>ul>li>a {
      color: var(--white);
  
    }
  
    >ul {
      display: flex;
  
      >li {
        &:hover {
          >a {
            color: var(--primary);
          }
  
          >ul {
            opacity: 1;
            pointer-events: all;
            inset-inline-start: 0;
  
            &.dp-menu li {
              &:hover {
                >ul {
                  opacity: 1;
                  pointer-events: all;
                  inset-inline-start: 100%;
                }
              }
            }
          }
        }
      }
    }
  
    li {
      position: relative;
  
      a {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        color: var(--white);
        padding: 30px 25px;
        text-transform: capitalize;
  
        @include light {
          color: var(--black-2);
        }
      }
    }
  
    ul.dp-menu {
      background-color: #232529;
      padding: 18px 0px;
      width: 250px;
      position: absolute;
      inset-inline-start: 10px;
      opacity: 0;
      pointer-events: none;
      z-index: 10;
      transition: all 0.5s;
  
      ul {
        background: var(--black-2);
        padding: 18px 0px;
        width: 300px;
        position: absolute;
        inset-inline-start: calc(100% + 10px);
        top: 0;
        opacity: 0;
        z-index: 10;
        transition: all 0.5s;
      }
  
      li {
        position: relative;
        padding: 0 25px;
  
        &:hover {
          >a {
            color: var(--primary);
            background-color: transparent;
          }
  
          >ul {
            opacity: 1;
            transform: none !important;
            pointer-events: all;
          }
        }
  
        a {
          font-size: 16px;
          font-weight: 500;
          color: #999999;
          padding: 10px 0;
          background-color: transparent;
          border-radius: 8px;
          text-transform: capitalize;
  
          &:hover {
            letter-spacing: 0.5px;
          }
  
          &:after {
            transform: rotate(-90deg);
            margin-left: auto;
          }
  
        }
      }
    }
  
    .has-mega-menu {
      position: static;
    }
  
    li {
  
      &.menu-item-has-children {
        >a {
          &:after {
            content: url(../img/icons/chevron-down.svg);
            margin-inline-start: 5px;
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
    }
  
    .mega-menu {
      background-color: var(--black-2);
      padding: 30px 50px;
      width: 100%;
      position: absolute;
      left: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 50px;
      justify-content: center;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
      z-index: 10;
      transition: all 0.5s;
  
      @media #{$xl} {
        column-gap: 30px;
      }
  
      li:has(ul) {
        >a {
          &:after {
            content: "";
          }
        }
      }
  
      li {
        a {
          font-size: 16px;
          font-weight: 500;
          color: #999999;
          height: 40px;
          padding: 0 20px;
          display: flex;
          align-items: center;
          gap: 8px;
          background: var(--black-2);
          border-radius: 8px;
          overflow: hidden;
  
          &:hover {
            color: var(--white);
            background: #2C2C2F;
          }
        }
      }
  
      .title {
        font-weight: 600;
        color: var(--white);
        text-transform: uppercase;
        border-bottom: 1px solid #333337;
        padding-bottom: 20px;
        margin-bottom: 20px;
        pointer-events: none;
        border-radius: 0;
      }
    }
  
    .mega-style-2 {
      padding: 0 15%;
      gap: 0;
      grid-template-columns: repeat(2, 1fr);
  
      .title {
        height: 70px;
        padding-bottom: 0;
        margin-bottom: 0;
        position: relative;
        overflow: visible;
        padding-left: 30px;
  
        &:after {
          position: absolute;
          content: "";
          width: 5000px;
          height: 1px;
          background-color: #333337;
          bottom: -1px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
  
      >li {
        &:not(:first-child) {
          border-left: 1px solid #333337;
        }
      }
  
      ul {
        column-count: 2;
        position: relative;
        padding: 20px 0;
  
        &:after {
          position: absolute;
          content: "";
          width: 1px;
          height: 700px;
          background-color: #333337;
          top: 0;
          left: 50%;
          z-index: 1;
        }
  
        li {
  
          a {
            padding-left: 30px;
          }
        }
      }
    }
  
    .mega-style-3 {
      padding: 0 0 0 20px;
      gap: 0;
      grid-template-columns: repeat(3, 1fr);
  
      .title {
        height: 70px;
        padding-bottom: 0;
        margin-bottom: 0;
        position: relative;
        overflow: visible;
        padding-left: 30px;
  
        &:after {
          position: absolute;
          content: "";
          width: 5000px;
          height: 1px;
          background-color: #333337;
          bottom: -1px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
  
      >li {
        &:not(:first-child) {
          border-left: 1px solid #333337;
        }
  
        &:last-child {
          border: none;
          width: 36vw;
  
          @media #{$xl} {
            width: 32vw;
          }
        }
      }
  
      ul {
        column-count: 2;
        position: relative;
        padding: 20px 0;
        column-gap: 0;
  
        &:after {
          position: absolute;
          content: "";
          width: 1px;
          height: 700px;
          background-color: #333337;
          top: 0;
          left: 50%;
          z-index: 1;
        }
  
        li {
          margin: 0 10px;
  
          a {
            padding-left: 20px;
          }
        }
      }
    }
  
    .mega-grid-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  
    .mega-grid-2 {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 60px;
    }
  
    .list-3-column {
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
  
        @media #{$xl} {
          column-gap: 30px;
        }
      }
    }
  
    .span-first-item {
      ul {
        li:first-child {
          grid-column: 1 / -1;
          column-span: all;
        }
      }
    }
  
    .new {
      font-size: 10px;
      font-weight: 600;
      background: #FFA38E;
      color: var(--black-2);
      padding: 3px 7px;
      line-height: 1;
      border-radius: 2px;
      margin-inline-start: 8px;
      display: inline-block;
    }
  
    &-2 {
      @media #{$lg} {
        display: none;
      }
  
      li {
        display: inline-block;
        padding: 0 10px;
  
        a {
          display: block;
          font-weight: 500;
          font-size: 20px;
          line-height: 1.5;
          color: var(--white);
          padding: 10px;
          text-transform: capitalize;
  
          &:hover {
            color: var(--primary);
          }
  
          @media #{$xl} {
            padding: 5px 0;
          }
        }
      }
    }
  
    &-3 {
      li {
        display: inline-block;
        margin-right: 45px;
  
        @media #{$lg} {
          margin-right: 25px;
        }
  
        &:last-child {
          margin-right: 0;
        }
  
        a {
          color: var(--white);
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
  
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  
    &-4 {
      li {
        display: inline-block;
        margin-right: 50px;
  
        a {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5;
          color: var(--white);
          text-transform: uppercase;
  
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  
  }
