.aae-feature-area {
    background-color: #1A1A1A;
    border-radius: 30px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    padding-top: 150px;
    @media #{$mac}{
    }
    @media #{$lg}{
        padding-top: 100px;
    }
    @media #{$md}{
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-bottom: 100px;
    }
    @media #{$sm}{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .section-title{
        svg{
            @media #{$lg}{
                display: none;
            }
        }
        br{
            @media #{$lg}{
                display: none;
            }
        }
    }
}
.aae-feature-top {
    display: flex;
    align-items: center;
    gap: 132px;
    @media #{$lg}{
        gap: 50px;
    }
    @media #{$md}{
        flex-wrap: wrap;
    }
    @media #{$sm}{
        gap: 40px;
    }
    .gradient-text {
        background: linear-gradient(30deg, rgba(158, 214, 0, 1) 0%, rgba(1, 148, 195, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.aae-feature-btn-wrapper {
    .aae-hero-btn{
        justify-content: flex-start;
        margin-bottom: 0;
        @media #{$sm}{
            padding-top: 20px;
        }
    }
}
.aae-feature-right {
    max-width: 439px;
}
.aae-feature-btn-wrapper{
    padding-top: 40px;
    @media #{$lg}{
        padding-top: 30px;
    }
    @media #{$md}{
        padding-top: 0;
    }
}
.aae-feature-item{
    position: relative;
    padding-top: 60px;
    z-index: 2;
    max-width: 378px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    @media #{$md}{
        max-width: 48%;
        padding-top: 30px;
    }
    @media #{$sm}{
        max-width: 100%;
        padding-top: 30px;
    }
    &.feature-item-two{
        padding-top: 60px;
        padding-bottom: 16px;
        align-self: flex-start;
        .aae-feature-item-subtitle{
            padding-bottom: 40px;
            line-height: 1.33;
        }
        .thumb-image{
            text-align: center;
            img{
                display: inline-block;;
            }
        }
    }
    &.feature-item-three{
        background-size: cover;
        background-repeat: no-repeat;
        align-self: flex-start;
        min-height: 375px;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0.2) 100%);
            backdrop-filter: blur(3px);
            border-radius: 19px;
            z-index: -2;
        }
    }
    &.feature-item-four{
        align-self: flex-start;
        .thumb-image{
            padding-top: 20px;
            padding-bottom: 26px;
        }
    }
    &.feature-item-five{
        .aae-feature-item-content{
            text-align: start;
        }
    }
    &.six{
        max-width: unset;
        width: 784px;
        height: 515px;
        margin-top: -150px;
        @media #{$mac}{
            margin-top: 0;
        }
        @media #{$lg}{
            width: unset;
        }
        @media #{$sm}{
            width: 100%;
        }
    }
}
.aae-feature-item-content{
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    text-align: center;
}
.aae-feature-item-title{
    font-size: 60px;
    line-height: 1;
    font-weight: 300;
    display: block;
    padding-bottom: 20px;
    background: linear-gradient(190deg, rgba(255, 255, 255, 1) 0%, rgba(51, 51, 51, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media #{$md}{
        font-size: 36px;
    }
}
.aae-feature-item-subtitle{
    font-size: 30px;
    line-height: 1;
    font-weight: 300;
    display: block;
    padding-bottom: 16px;
    @media #{$md}{
        font-size: 20px;
    }
}
.thumb-video{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgb(32,32,32);
        background: rgb(32,32,32);
        background: linear-gradient(180deg, rgba(32,32,32,1) 0%, rgba(32,32,32,0) 100%);
    }
}
.aae-feature-bottom{
    padding-top: 100px;
    @media #{$lg}{
        padding-top: 60px;
    }
    @media #{$sm}{
        padding-top: 40px;
    }
}
.aae-feature-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}