@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --primary: #F6502C;
  --secondary: #2c2c2c;
  --black-2: #202020;
  --white: #ffffff;
}

.custom-container {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .custom-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ul,
ol {
  list-style: none;
}

/* Remove default margin and padding for paragraphs and headings */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: 0.3s ease-in-out;
}

/* Remove underline from links */
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in-out;
}

/* Remove default input styles */
input,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default image styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Remove default form element styles */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Reset HTML5 elements to block display */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@font-face {
  font-family: ppfragment;
  src: url("../fonts/PPFragment-GlareLight.otf");
  font-weight: 300;
}
:root {
  --font_primary: "DM Sans";
  --font_ppfragment: "ppfragment";
}

.font-body {
  font-family: var(--font_primary);
}
.font-heading-dmsans h1,
.font-heading-dmsans h2,
.font-heading-dmsans h3,
.font-heading-dmsans h4,
.font-heading-dmsans h5,
.font-heading-dmsans h6 {
  font-family: "DM Sans";
}

.aae-login-btn {
  display: inline-flex;
  gap: 7px;
  font-size: 16px;
  line-height: 1.5;
}

.aae-primary-btn {
  background-color: var(--primary);
  color: var(--white);
  padding: 9px 27px;
  border-radius: 35px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .aae-primary-btn {
    padding: 10px 5px;
    font-size: 14px;
  }
}
.aae-primary-btn:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.aae-secondary-btn {
  background-color: rgba(255, 255, 255, 0.03);
}
.aae-secondary-btn:hover {
  background-color: var(--primary);
}

.main-menu.menu-dark > ul > li > a {
  color: var(--black-2);
}
.main-menu.menu-light > ul > li > a {
  color: var(--white);
}
.main-menu > ul {
  display: flex;
}
.main-menu > ul > li:hover > a {
  color: var(--primary);
}
.main-menu > ul > li:hover > ul {
  opacity: 1;
  pointer-events: all;
  inset-inline-start: 0;
}
.main-menu > ul > li:hover > ul.dp-menu li:hover > ul {
  opacity: 1;
  pointer-events: all;
  inset-inline-start: 100%;
}
.main-menu li {
  position: relative;
}
.main-menu li a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--white);
  padding: 30px 25px;
  text-transform: capitalize;
}
.light .main-menu li a {
  color: var(--black-2);
}
.main-menu ul.dp-menu {
  background-color: #232529;
  padding: 18px 0px;
  width: 250px;
  position: absolute;
  inset-inline-start: 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: all 0.5s;
}
.main-menu ul.dp-menu ul {
  background: var(--black-2);
  padding: 18px 0px;
  width: 300px;
  position: absolute;
  inset-inline-start: calc(100% + 10px);
  top: 0;
  opacity: 0;
  z-index: 10;
  transition: all 0.5s;
}
.main-menu ul.dp-menu li {
  position: relative;
  padding: 0 25px;
}
.main-menu ul.dp-menu li:hover > a {
  color: var(--primary);
  background-color: transparent;
}
.main-menu ul.dp-menu li:hover > ul {
  opacity: 1;
  transform: none !important;
  pointer-events: all;
}
.main-menu ul.dp-menu li a {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  padding: 10px 0;
  background-color: transparent;
  border-radius: 8px;
  text-transform: capitalize;
}
.main-menu ul.dp-menu li a:hover {
  letter-spacing: 0.5px;
}
.main-menu ul.dp-menu li a:after {
  transform: rotate(-90deg);
  margin-left: auto;
}
.main-menu .has-mega-menu {
  position: static;
}
.main-menu li.menu-item-has-children > a:after {
  content: url(../img/icons/chevron-down.svg);
  margin-inline-start: 5px;
  font-weight: 600;
  font-size: 14px;
}
.main-menu .mega-menu {
  background-color: var(--black-2);
  padding: 30px 50px;
  width: 100%;
  position: absolute;
  left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: all 0.5s;
}
@media only screen and (max-width: 1399px) {
  .main-menu .mega-menu {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.main-menu .mega-menu li:has(ul) > a:after {
  content: "";
}
.main-menu .mega-menu li a {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--black-2);
  border-radius: 8px;
  overflow: hidden;
}
.main-menu .mega-menu li a:hover {
  color: var(--white);
  background: #2C2C2F;
}
.main-menu .mega-menu .title {
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  border-bottom: 1px solid #333337;
  padding-bottom: 20px;
  margin-bottom: 20px;
  pointer-events: none;
  border-radius: 0;
}
.main-menu .mega-style-2 {
  padding: 0 15%;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
}
.main-menu .mega-style-2 .title {
  height: 70px;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
  padding-left: 30px;
}
.main-menu .mega-style-2 .title:after {
  position: absolute;
  content: "";
  width: 5000px;
  height: 1px;
  background-color: #333337;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}
.main-menu .mega-style-2 > li:not(:first-child) {
  border-left: 1px solid #333337;
}
.main-menu .mega-style-2 ul {
  -moz-column-count: 2;
       column-count: 2;
  position: relative;
  padding: 20px 0;
}
.main-menu .mega-style-2 ul:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 700px;
  background-color: #333337;
  top: 0;
  left: 50%;
  z-index: 1;
}
.main-menu .mega-style-2 ul li a {
  padding-left: 30px;
}
.main-menu .mega-style-3 {
  padding: 0 0 0 20px;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
}
.main-menu .mega-style-3 .title {
  height: 70px;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
  padding-left: 30px;
}
.main-menu .mega-style-3 .title:after {
  position: absolute;
  content: "";
  width: 5000px;
  height: 1px;
  background-color: #333337;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}
.main-menu .mega-style-3 > li:not(:first-child) {
  border-left: 1px solid #333337;
}
.main-menu .mega-style-3 > li:last-child {
  border: none;
  width: 36vw;
}
@media only screen and (max-width: 1399px) {
  .main-menu .mega-style-3 > li:last-child {
    width: 32vw;
  }
}
.main-menu .mega-style-3 ul {
  -moz-column-count: 2;
       column-count: 2;
  position: relative;
  padding: 20px 0;
  -moz-column-gap: 0;
       column-gap: 0;
}
.main-menu .mega-style-3 ul:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 700px;
  background-color: #333337;
  top: 0;
  left: 50%;
  z-index: 1;
}
.main-menu .mega-style-3 ul li {
  margin: 0 10px;
}
.main-menu .mega-style-3 ul li a {
  padding-left: 20px;
}
.main-menu .mega-grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.main-menu .mega-grid-2 {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 60px;
}
.main-menu .list-3-column ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media only screen and (max-width: 1399px) {
  .main-menu .list-3-column ul {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.main-menu .span-first-item ul li:first-child {
  grid-column: 1/-1;
  -moz-column-span: all;
       column-span: all;
}
.main-menu .new {
  font-size: 10px;
  font-weight: 600;
  background: #FFA38E;
  color: var(--black-2);
  padding: 3px 7px;
  line-height: 1;
  border-radius: 2px;
  margin-inline-start: 8px;
  display: inline-block;
}
@media only screen and (max-width: 1199px) {
  .main-menu-2 {
    display: none;
  }
}
.main-menu-2 li {
  display: inline-block;
  padding: 0 10px;
}
.main-menu-2 li a {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--white);
  padding: 10px;
  text-transform: capitalize;
}
.main-menu-2 li a:hover {
  color: var(--primary);
}
@media only screen and (max-width: 1399px) {
  .main-menu-2 li a {
    padding: 5px 0;
  }
}
.main-menu-3 li {
  display: inline-block;
  margin-right: 45px;
}
@media only screen and (max-width: 1199px) {
  .main-menu-3 li {
    margin-right: 25px;
  }
}
.main-menu-3 li:last-child {
  margin-right: 0;
}
.main-menu-3 li a {
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.main-menu-3 li a:hover {
  color: var(--primary);
}
.main-menu-4 li {
  display: inline-block;
  margin-right: 50px;
}
.main-menu-4 li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
  text-transform: uppercase;
}
.main-menu-4 li a:hover {
  color: var(--primary);
}

.aae-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}

.aae-header-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.aae-logo {
  position: relative;
  padding-right: 50px;
}

.aae-logo-line {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.2);
}

.aae-navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
.aae-navigation-menu li a {
  font-size: 16px;
  line-height: 1.5;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.aae-header-btn {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (min-width: 1200px) {
  .aae-mobile-menu-wrapper {
    display: none;
  }
}
@media (max-width: 1200px) {
  .aae-mobile-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  .aae-header-area {
    display: none;
  }
}
.aae-mobile-logo {
  cursor: pointer;
}

.aae-footer-wrapper {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .aae-footer-wrapper {
    flex-direction: column;
    gap: 50px;
  }
}

.aae-footer-left {
  display: flex;
  gap: 180px;
  flex-basis: 900px;
  position: relative;
  padding-bottom: 85px;
}
@media only screen and (max-width: 1399px) {
  .aae-footer-left {
    gap: 100px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-footer-left {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .aae-footer-left {
    gap: 30px;
    flex-wrap: wrap;
  }
}
.aae-footer-left::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 767px) {
  .aae-footer-left::after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .aae-footer-item {
    flex-basis: 100%;
  }
}

.aae-footer-right {
  padding-inline-start: 173px;
  flex-basis: 701px;
}
@media only screen and (max-width: 1399px) {
  .aae-footer-right {
    padding-inline-start: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-footer-right {
    flex-basis: 70%;
  }
}
@media only screen and (max-width: 991px) {
  .aae-footer-right {
    padding-inline-start: 0;
  }
}

.footer-menu-title {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .footer-menu-title {
    margin-bottom: 15px;
  }
}

.aae-footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aae-footer-menu li a {
  font-size: 16px;
  line-height: 1;
  color: #999999;
}
.aae-footer-menu li a:hover {
  color: var(--white);
}

.aae-footer-mail input {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  padding: 9px 27px;
  border-radius: 35px;
  font-size: 16px;
  line-height: 1.5;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  outline-offset: 10px;
}
.aae-footer-mail .aae-footer-mail-desc {
  color: rgb(153, 153, 153);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 43px;
}

.aae-footer-form {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 767px) {
  .aae-footer-form {
    flex-direction: column;
    gap: 30px;
  }
}

.aae-copyright-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 40px;
}
@media only screen and (max-width: 991px) {
  .aae-copyright-area {
    margin-top: 40px;
    flex-direction: column-reverse;
    gap: 15px;
    border: 0;
  }
}
.aae-copyright-area .aae-copyright-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}
.aae-copyright-area .aae-copyright-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.aae-copyright-area .aae-copyright-left a {
  text-decoration: underline;
}
.aae-copyright-area .aae-copyright-menu {
  display: flex;
  gap: 48px;
}
@media only screen and (max-width: 1199px) {
  .aae-copyright-area .aae-copyright-menu {
    gap: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-copyright-area .aae-copyright-menu {
    gap: 15px;
  }
}
.aae-copyright-area .aae-copyright-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.aae-copyright-area .aae-copyright-menu li a {
  background-color: #363636;
  padding: 20px;
  border-radius: 100px;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .aae-copyright-area .aae-copyright-menu li span {
    display: none;
  }
}

.aae-hero-area {
  padding-top: 60px;
  padding-bottom: 180px;
}
@media only screen and (max-width: 1199px) {
  .aae-hero-area {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-hero-area {
    padding-bottom: 60px;
  }
}
.aae-hero-area .aae-hero-description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
}
@media only screen and (max-width: 767px) {
  .aae-hero-area .aae-hero-description {
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 16px;
  }
}
.aae-hero-area .aae-hero-description span {
  color: var(--white);
  text-decoration: underline;
}

.hero-container {
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .hero-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.aae-title-content {
  max-width: 1116px;
  margin-inline-start: auto;
  padding-top: 50px;
}
@media only screen and (max-width: 991px) {
  .aae-title-content {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-title-content {
    padding-top: 20px;
  }
}

.aae-hero-title {
  border: 2px dashed rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding-inline-start: 35px;
  padding-inline-end: 40px;
  padding-top: 5px;
  padding-bottom: 25px;
}
@media only screen and (max-width: 1199px) {
  .aae-hero-title {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-hero-title {
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: 0;
    padding-bottom: 0;
  }
}

.aae-hero-title svg {
  height: auto;
}

@media only screen and (max-width: 1199px) {
  #a {
    width: 140px;
  }
}
@media only screen and (max-width: 991px) {
  #a {
    width: 100px;
  }
}
@media only screen and (max-width: 767px) {
  #a {
    width: 50px;
  }
}

@media only screen and (max-width: 1199px) {
  #n {
    width: 110px;
  }
}
@media only screen and (max-width: 991px) {
  #n {
    width: 72px;
  }
}
@media only screen and (max-width: 767px) {
  #n {
    width: 40px;
    position: relative;
    top: 4px;
  }
}

@media only screen and (max-width: 1199px) {
  #i {
    width: 64px;
    height: 121px;
  }
}
@media only screen and (max-width: 991px) {
  #i {
    width: 45px;
    height: 97px;
  }
}
@media only screen and (max-width: 767px) {
  #i {
    width: 22px;
    height: 57px;
    position: relative;
    top: 0px;
  }
}

@media only screen and (max-width: 1399px) {
  #m {
    width: 230px;
  }
}
@media only screen and (max-width: 1199px) {
  #m {
    width: 150px;
  }
}
@media only screen and (max-width: 991px) {
  #m {
    width: 112px;
  }
}
@media only screen and (max-width: 767px) {
  #m {
    width: 60px;
  }
}

@media only screen and (max-width: 1199px) {
  #sma {
    width: 85px;
  }
}
@media only screen and (max-width: 991px) {
  #sma {
    width: 60px;
  }
}
@media only screen and (max-width: 767px) {
  #sma {
    width: 36px;
  }
}

@media only screen and (max-width: 1199px) {
  #t {
    width: 60px;
  }
}
@media only screen and (max-width: 991px) {
  #t {
    width: 36px;
  }
}
@media only screen and (max-width: 767px) {
  #t {
    width: 24px;
  }
}

@media only screen and (max-width: 1199px) {
  #e {
    width: 82px;
  }
}
@media only screen and (max-width: 991px) {
  #e {
    width: 58px;
  }
}
@media only screen and (max-width: 767px) {
  #e {
    width: 40px;
  }
}

.aae-hero-subtitle {
  font-size: 280px;
  font-family: var(--font_ppfragment) !important;
  text-align: end;
  color: var(--white) !important;
  font-weight: 300;
  position: relative;
}
@media only screen and (max-width: 1399px) {
  .aae-hero-subtitle {
    font-size: 200px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-hero-subtitle {
    font-size: 120px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-hero-subtitle {
    font-size: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-hero-subtitle {
    font-size: 60px;
    text-align: start;
  }
}

.aae-primary-btn-wrapper {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  padding: 23px 10px;
}
@media only screen and (max-width: 767px) {
  .aae-primary-btn-wrapper {
    padding: 15px 5px;
  }
}

.aae-hero-btn {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
@media only screen and (max-width: 991px) {
  .aae-hero-btn {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-hero-btn {
    gap: 15px;
    justify-content: flex-start;
  }
}
.aae-hero-btn .aae-primary-btn {
  padding: 17px 35px;
}
@media only screen and (max-width: 767px) {
  .aae-hero-btn .aae-primary-btn {
    padding: 12px 25px;
  }
}

.your span {
  font-size: 28px;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.wp span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px 20px;
  border-radius: 35px;
}

.dark-mode {
  background-color: var(--black-2);
  color: #fff;
}
.light .dark-mode {
  background-color: #F6F6FA;
  color: #555555;
}
.light .dark-mode h1,
.light .dark-mode h2,
.light .dark-mode h3,
.light .dark-mode h4,
.light .dark-mode h5,
.light .dark-mode h6 {
  color: #3F4061;
}
.dark-mode p {
  color: #BBBCD2;
}
.light .dark-mode p {
  color: #555555;
}

.aae-home {
  color: #F5EDE9;
}
.aae-home h1,
.aae-home h2,
.aae-home h3,
.aae-home h4,
.aae-home h5,
.aae-home h6 {
  color: #F5EDE9;
}
.aae-home p {
  color: #999999;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.aae-home-title {
  font-size: 90px;
  line-height: 1.111;
  font-weight: 300;
  color: var(--white);
}/*# sourceMappingURL=home.css.map */