@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap");
:root {
  --primary: #F6502C;
  --secondary: #2c2c2c;
  --black-2: #202020;
  --white: #ffffff;
}

.custom-container {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .custom-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.custom-container-2 {
  max-width: 1540px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .custom-container-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-padding {
  padding-top: 160px;
  padding-bottom: 160px;
}
@media only screen and (max-width: 1199px) {
  .section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-padding-top {
  padding-top: 160px;
}
@media only screen and (max-width: 1199px) {
  .section-padding-top {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .section-padding-top {
    padding-top: 60px;
  }
}

.section-padding-bottom {
  padding-bottom: 160px;
}
@media only screen and (max-width: 1199px) {
  .section-padding-bottom {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .section-padding-bottom {
    padding-bottom: 60px;
  }
}

.section-title-wrapper {
  text-align: center;
}
.section-title-wrapper .section-text {
  font-size: 380px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--white);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to top, #202020 0%, #2A2A2A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -2;
}
@media only screen and (max-width: 1399px) {
  .section-title-wrapper .section-text {
    top: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .section-title-wrapper .section-text {
    font-size: 180px;
  }
}
@media only screen and (max-width: 767px) {
  .section-title-wrapper .section-text {
    font-size: 90px;
  }
}

.section-title {
  font-size: 90px;
  font-weight: 300;
  line-height: 1.11;
  color: var(--white) !important;
}
@media only screen and (max-width: 991px) {
  .section-title br {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .section-title {
    font-size: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .section-title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .section-title {
    font-size: 36px;
  }
}

.aae-description p span {
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.pos-static {
  position: static !important;
}

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ul,
ol {
  list-style: none;
}

/* Remove default margin and padding for paragraphs and headings */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: 0.3s ease-in-out;
}

/* Remove underline from links */
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in-out;
}

/* Remove default input styles */
input,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default image styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Remove default form element styles */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Reset HTML5 elements to block display */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@font-face {
  font-family: ppfragment;
  src: url("../fonts/PPFragment-GlareLight.otf");
  font-weight: 300;
}
:root {
  --font_primary: "DM Sans";
  --font_ppfragment: "ppfragment";
  --font_oswald: "Oswald";
}

.font-body {
  font-family: var(--font_primary);
}
.font-heading-dmsans h1,
.font-heading-dmsans h2,
.font-heading-dmsans h3,
.font-heading-dmsans h4,
.font-heading-dmsans h5,
.font-heading-dmsans h6 {
  font-family: "DM Sans";
}

.aae-login-btn {
  display: inline-flex;
  gap: 7px;
  font-size: 16px;
  line-height: 1.5;
}

.aae-primary-btn {
  background-color: var(--primary);
  color: var(--white);
  padding: 9px 27px;
  border-radius: 35px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .aae-primary-btn {
    padding: 10px 5px;
    font-size: 14px;
  }
}
.aae-primary-btn:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.aae-secondary-btn {
  background-color: rgba(255, 255, 255, 0.03);
}
.aae-secondary-btn:hover {
  background-color: var(--primary);
}

.main-menu.menu-dark > ul > li > a {
  color: var(--black-2);
}
.main-menu.menu-light > ul > li > a {
  color: var(--white);
}
.main-menu > ul {
  display: flex;
}
.main-menu > ul > li:hover > a {
  color: var(--primary);
}
.main-menu > ul > li:hover > ul {
  opacity: 1;
  pointer-events: all;
  inset-inline-start: 0;
}
.main-menu > ul > li:hover > ul.dp-menu li:hover > ul {
  opacity: 1;
  pointer-events: all;
  inset-inline-start: 100%;
}
.main-menu li {
  position: relative;
}
.main-menu li a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--white);
  padding: 30px 25px;
  text-transform: capitalize;
}
.light .main-menu li a {
  color: var(--black-2);
}
.main-menu ul.dp-menu {
  background-color: #232529;
  padding: 18px 0px;
  width: 250px;
  position: absolute;
  inset-inline-start: 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: all 0.5s;
}
.main-menu ul.dp-menu ul {
  background: var(--black-2);
  padding: 18px 0px;
  width: 300px;
  position: absolute;
  inset-inline-start: calc(100% + 10px);
  top: 0;
  opacity: 0;
  z-index: 10;
  transition: all 0.5s;
}
.main-menu ul.dp-menu li {
  position: relative;
  padding: 0 25px;
}
.main-menu ul.dp-menu li:hover > a {
  color: var(--primary);
  background-color: transparent;
}
.main-menu ul.dp-menu li:hover > ul {
  opacity: 1;
  transform: none !important;
  pointer-events: all;
}
.main-menu ul.dp-menu li a {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  padding: 10px 0;
  background-color: transparent;
  border-radius: 8px;
  text-transform: capitalize;
}
.main-menu ul.dp-menu li a:hover {
  letter-spacing: 0.5px;
}
.main-menu ul.dp-menu li a:after {
  transform: rotate(-90deg);
  margin-left: auto;
}
.main-menu .has-mega-menu {
  position: static;
}
.main-menu li.menu-item-has-children > a:after {
  content: url(../img/icons/chevron-down.svg);
  margin-inline-start: 5px;
  font-weight: 600;
  font-size: 14px;
}
.main-menu .mega-menu {
  background-color: var(--black-2);
  padding: 30px 50px;
  width: 100%;
  position: absolute;
  left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: all 0.5s;
}
@media only screen and (max-width: 1399px) {
  .main-menu .mega-menu {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.main-menu .mega-menu li:has(ul) > a:after {
  content: "";
}
.main-menu .mega-menu li a {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--black-2);
  border-radius: 8px;
  overflow: hidden;
}
.main-menu .mega-menu li a:hover {
  color: var(--white);
  background: #2C2C2F;
}
.main-menu .mega-menu .title {
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  border-bottom: 1px solid #333337;
  padding-bottom: 20px;
  margin-bottom: 20px;
  pointer-events: none;
  border-radius: 0;
}
.main-menu .mega-style-2 {
  padding: 0 15%;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
}
.main-menu .mega-style-2 .title {
  height: 70px;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
  padding-left: 30px;
}
.main-menu .mega-style-2 .title:after {
  position: absolute;
  content: "";
  width: 5000px;
  height: 1px;
  background-color: #333337;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}
.main-menu .mega-style-2 > li:not(:first-child) {
  border-left: 1px solid #333337;
}
.main-menu .mega-style-2 ul {
  -moz-column-count: 2;
       column-count: 2;
  position: relative;
  padding: 20px 0;
}
.main-menu .mega-style-2 ul:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 700px;
  background-color: #333337;
  top: 0;
  left: 50%;
  z-index: 1;
}
.main-menu .mega-style-2 ul li a {
  padding-left: 30px;
}
.main-menu .mega-style-3 {
  padding: 0 0 0 20px;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
}
.main-menu .mega-style-3 .title {
  height: 70px;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
  padding-left: 30px;
}
.main-menu .mega-style-3 .title:after {
  position: absolute;
  content: "";
  width: 5000px;
  height: 1px;
  background-color: #333337;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}
.main-menu .mega-style-3 > li:not(:first-child) {
  border-left: 1px solid #333337;
}
.main-menu .mega-style-3 > li:last-child {
  border: none;
  width: 36vw;
}
@media only screen and (max-width: 1399px) {
  .main-menu .mega-style-3 > li:last-child {
    width: 32vw;
  }
}
.main-menu .mega-style-3 ul {
  -moz-column-count: 2;
       column-count: 2;
  position: relative;
  padding: 20px 0;
  -moz-column-gap: 0;
       column-gap: 0;
}
.main-menu .mega-style-3 ul:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 700px;
  background-color: #333337;
  top: 0;
  left: 50%;
  z-index: 1;
}
.main-menu .mega-style-3 ul li {
  margin: 0 10px;
}
.main-menu .mega-style-3 ul li a {
  padding-left: 20px;
}
.main-menu .mega-grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.main-menu .mega-grid-2 {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 60px;
}
.main-menu .list-3-column ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media only screen and (max-width: 1399px) {
  .main-menu .list-3-column ul {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.main-menu .span-first-item ul li:first-child {
  grid-column: 1/-1;
  -moz-column-span: all;
       column-span: all;
}
.main-menu .new {
  font-size: 10px;
  font-weight: 600;
  background: #FFA38E;
  color: var(--black-2);
  padding: 3px 7px;
  line-height: 1;
  border-radius: 2px;
  margin-inline-start: 8px;
  display: inline-block;
}
@media only screen and (max-width: 1199px) {
  .main-menu-2 {
    display: none;
  }
}
.main-menu-2 li {
  display: inline-block;
  padding: 0 10px;
}
.main-menu-2 li a {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--white);
  padding: 10px;
  text-transform: capitalize;
}
.main-menu-2 li a:hover {
  color: var(--primary);
}
@media only screen and (max-width: 1399px) {
  .main-menu-2 li a {
    padding: 5px 0;
  }
}
.main-menu-3 li {
  display: inline-block;
  margin-right: 45px;
}
@media only screen and (max-width: 1199px) {
  .main-menu-3 li {
    margin-right: 25px;
  }
}
.main-menu-3 li:last-child {
  margin-right: 0;
}
.main-menu-3 li a {
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.main-menu-3 li a:hover {
  color: var(--primary);
}
.main-menu-4 li {
  display: inline-block;
  margin-right: 50px;
}
.main-menu-4 li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
  text-transform: uppercase;
}
.main-menu-4 li a:hover {
  color: var(--primary);
}

.aae-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  padding-top: 15px;
  max-width: 1920px;
  margin: auto;
}

.aae-header-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.aae-logo {
  position: relative;
  padding-right: 50px;
}

.aae-logo-line {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.2);
}

.aae-navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
.aae-navigation-menu li a {
  font-size: 16px;
  line-height: 1.5;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.aae-header-btn {
  display: flex;
  align-items: center;
  gap: 40px;
}
.aae-header-btn .aae-primary-btn-wrapper {
  padding: 12px 6px;
}

@media (min-width: 1200px) {
  .aae-mobile-menu-wrapper {
    display: none;
  }
}
@media (max-width: 1200px) {
  .aae-mobile-menu-wrapper {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
  }
  .aae-header-area {
    display: none;
  }
}
.aae-mobile-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.aae-mobile-logo img {
  max-width: 110px;
}

.aae-mobile-menu-wrapper {
  background: linear-gradient(90deg, rgb(246, 80, 44) 0%, rgb(255, 153, 0) 100%);
}

.aae-mobile-close {
  height: 40px;
  width: 40px;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  right: 15px;
}

.aae-mobile-menu-area {
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  z-index: 3;
  width: 300px;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  background-color: var(--secondary);
  padding: 30px;
  top: 0;
}
.aae-mobile-menu-area.offcanvasToggle {
  opacity: 1;
  visibility: visible;
  left: 0;
}
.aae-mobile-menu-area .aae-navigation-menu {
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.aae-mobile-menu-area .aae-navigation-menu li a {
  padding: 5px;
}
.aae-mobile-menu-area .aae-navigation-menu li a:hover {
  color: var(--white);
}

.aae-mobile-menu-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aae-mobile-menu img {
  cursor: pointer;
}

.aae-footer-wrapper {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .aae-footer-wrapper {
    flex-direction: column;
    gap: 50px;
  }
}
.aae-footer-wrapper .aae-primary-btn-wrapper {
  padding: 8px 8px;
}
@media only screen and (max-width: 767px) {
  .aae-footer-wrapper .aae-primary-btn-wrapper {
    width: 100%;
  }
}
.aae-footer-wrapper .aae-primary-btn {
  padding: 14px 38px;
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .aae-footer-wrapper .aae-primary-btn {
    width: 100%;
  }
}

.aae-footer-left {
  display: flex;
  gap: 180px;
  flex-basis: 900px;
  position: relative;
  padding-bottom: 85px;
}
@media only screen and (max-width: 1399px) {
  .aae-footer-left {
    gap: 100px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-footer-left {
    flex-basis: 100%;
    gap: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-footer-left {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .aae-footer-left {
    gap: 30px;
    flex-wrap: wrap;
  }
}
.aae-footer-left::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 1199px) {
  .aae-footer-left::after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .aae-footer-item {
    flex-basis: 100%;
  }
}

.aae-footer-right {
  padding-inline-start: 173px;
  flex-basis: 701px;
}
@media only screen and (max-width: 1399px) {
  .aae-footer-right {
    padding-inline-start: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-footer-right {
    flex-basis: 70%;
    padding-inline-start: 0;
  }
}
@media only screen and (max-width: 991px) {
  .aae-footer-right {
    padding-inline-start: 0;
  }
}

.footer-menu-title {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .footer-menu-title {
    margin-bottom: 15px;
  }
}

.aae-footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aae-footer-menu li a {
  font-size: 16px;
  line-height: 1;
  color: #999999;
}
.aae-footer-menu li a:hover {
  color: var(--white);
}

.aae-footer-mail input {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  padding: 17px 15px 17px 50px;
  border-radius: 35px;
  font-size: 16px;
  line-height: 1;
  width: 310px;
}
@media only screen and (max-width: 767px) {
  .aae-footer-mail input {
    width: 100%;
  }
}
.aae-footer-mail input::-moz-placeholder {
  color: 999999;
  font-size: 18px;
}
.aae-footer-mail input::placeholder {
  color: 999999;
  font-size: 18px;
}
.aae-footer-mail .aae-footer-mail-desc {
  color: rgb(153, 153, 153);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 43px;
}
@media only screen and (max-width: 991px) {
  .aae-footer-mail .aae-footer-mail-desc {
    margin-bottom: 25px;
  }
}
.aae-footer-mail .aae-input-wrapper {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .aae-footer-mail .aae-input-wrapper {
    flex-basis: 100%;
  }
}
.aae-footer-mail .mail-icon {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
}

.aae-footer-form {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 1199px) {
  .aae-footer-form {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.aae-copyright-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  .aae-copyright-area {
    margin-top: 40px;
    flex-direction: column-reverse;
    gap: 15px;
    border: 0;
  }
}
@media only screen and (max-width: 767px) {
  .aae-copyright-area {
    padding-top: 0;
  }
}
.aae-copyright-area .aae-copyright-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}
.aae-copyright-area .aae-copyright-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 767px) {
  .aae-copyright-area .aae-copyright-left {
    flex-direction: column;
    padding-top: 30px;
  }
}
.aae-copyright-area .aae-copyright-left a {
  text-decoration: underline;
}
.aae-copyright-area .aae-copyright-menu {
  display: flex;
  gap: 48px;
}
@media only screen and (max-width: 1199px) {
  .aae-copyright-area .aae-copyright-menu {
    gap: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-copyright-area .aae-copyright-menu {
    gap: 15px;
  }
}
.aae-copyright-area .aae-copyright-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.aae-copyright-area .aae-copyright-menu li a {
  background-color: #363636;
  padding: 20px;
  border-radius: 100px;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .aae-copyright-area .aae-copyright-menu li a {
    padding: 12px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-copyright-area .aae-copyright-menu li span {
    display: none;
  }
}

.aae-hero-area {
  padding-top: 60px;
  padding-bottom: 145px;
  padding-inline-start: 200px;
  padding-inline-end: 200px;
  max-width: 1920px;
  margin: auto;
}
@media only screen and (max-width: 1500px) {
  .aae-hero-area {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
  }
}
@media only screen and (max-width: 1399px) {
  .aae-hero-area {
    padding-bottom: 140px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-hero-area {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-hero-area {
    padding-top: 45px;
    padding-bottom: 50px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }
}
.aae-hero-area .aae-hero-description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
  padding-left: 123px;
  margin-top: -40px;
}
@media only screen and (max-width: 767px) {
  .aae-hero-area .aae-hero-description {
    flex-wrap: wrap;
    font-size: 16px;
    margin-top: 0;
    padding-left: 0;
  }
}
.aae-hero-area .aae-hero-description span {
  color: var(--white);
  text-decoration: underline;
}

.aae-title-content {
  max-width: 1116px;
  margin-inline-start: auto;
  padding-top: 50px;
}
@media only screen and (max-width: 991px) {
  .aae-title-content {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-title-content {
    padding-top: 0;
  }
}

.aae-hero-content {
  position: relative;
}

.aae-polygon {
  position: absolute;
  bottom: 25%;
  left: 21%;
}
@media only screen and (max-width: 1399px) {
  .aae-polygon {
    left: 50px;
    width: 13%;
  }
}
@media only screen and (max-width: 991px) {
  .aae-polygon {
    display: none;
  }
}

.aae-hero-title {
  display: inline-block;
  padding-inline-start: 35px;
  padding-inline-end: 40px;
  padding-top: 40px;
  padding-bottom: 25px;
  position: relative;
  border-radius: 30px;
  background-image: url("../img/bg/border.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 1399px) {
  .aae-hero-title {
    width: 80%;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-hero-title {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 991px) {
  .aae-hero-title {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .aae-hero-title {
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: 0;
    padding-bottom: 0;
    background-image: unset;
  }
}
.aae-hero-title .aae-border-img {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 1199px) {
  .aae-hero-title .aae-border-img {
    display: none;
  }
}
.aae-hero-title svg {
  width: 95%;
}
@media only screen and (max-width: 767px) {
  .aae-hero-title svg {
    width: 100%;
    height: 50px;
  }
}

.aae-hero-subtitle {
  font-size: 280px;
  font-family: var(--font_ppfragment) !important;
  text-align: end;
  color: var(--white) !important;
  font-weight: 300;
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}
@media only screen and (max-width: 1399px) {
  .aae-hero-subtitle {
    font-size: 200px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-hero-subtitle {
    font-size: 120px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-hero-subtitle {
    font-size: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-hero-subtitle {
    font-size: 50px;
    text-align: start;
    padding-top: 10px;
  }
}

.aae-primary-btn-wrapper {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  padding: 23px 8px;
}
@media only screen and (max-width: 767px) {
  .aae-primary-btn-wrapper {
    padding: 15px 5px;
  }
}

.aae-hero-btn {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
@media only screen and (max-width: 991px) {
  .aae-hero-btn {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-hero-btn {
    gap: 7px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: self-start;
    padding-top: 10px;
  }
}
.aae-hero-btn .aae-primary-btn {
  padding: 17px 35px;
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .aae-hero-btn .aae-primary-btn {
    font-size: 14px;
    padding-right: 18px;
  }
}
.aae-hero-btn .aae-primary-btn.custom-hero-btn {
  padding: 17px 80px;
  font-size: 18px;
  font-weight: 600;
  padding-right: 40px;
}
@media only screen and (max-width: 767px) {
  .aae-hero-btn .aae-primary-btn.custom-hero-btn {
    padding: 12px 18px;
    font-size: 14px;
    padding-right: 18px;
  }
}
.aae-hero-btn .aae-primary-btn.aae-secondary-btn {
  padding: 15px 41px !important;
}
@media only screen and (max-width: 767px) {
  .aae-hero-btn .aae-primary-btn.aae-secondary-btn {
    padding: 12px 18px !important;
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-hero-btn .aae-primary-btn {
    padding: 12px 25px;
  }
}

.your span {
  font-size: 28px;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--font_ppfragment) !important;
  text-transform: uppercase;
  top: 10%;
  left: 22%;
}
@media only screen and (max-width: 1399px) {
  .your span {
    display: none;
  }
}

.wp span {
  position: absolute;
  top: 17px;
  right: 46%;
  font-family: var(--font_primary) !important;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 9px 20px;
  border-radius: 35px;
}
@media only screen and (max-width: 1399px) {
  .wp span {
    top: 0;
    right: 42%;
  }
}
@media only screen and (max-width: 991px) {
  .wp span {
    top: -26px;
  }
}
@media only screen and (max-width: 1199px) {
  .wp span {
    top: -20px;
    right: 0;
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .wp span {
    display: none;
  }
}
.wp svg {
  position: absolute;
  right: -14px;
  top: -14px;
}

.aae-subscribe {
  background-color: var(--white-19);
  width: 120px;
  height: 120px;
}

.aae-subscribe-wrap {
  margin-right: -99px;
}
@media only screen and (max-width: 767px) {
  .aae-subscribe-wrap {
    display: none;
  }
}

.aae-subscribe-text {
  background-color: var(--primary);
  height: 63px;
  width: 63px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aae-subscribe-text .aae-days-number {
  font-size: 40px;
  line-height: 1;
  position: relative;
  font-family: var(--font_oswald) !important;
  font-weight: 700;
  color: var(--white);
}
.aae-subscribe-text .aae-days-text {
  font-family: var(--font_primary) !important;
  padding: 2px;
  background-color: var(--primary);
  font-size: 9px;
  font-weight: 600;
  position: absolute;
  z-index: 9;
  top: 16px;
  right: 0px;
}

.subscribe-circle {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/Star-2.webp);
  background-repeat: no-repeat;
  background-size: contain;
}
.subscribe-circle .text {
  animation: spinner 4s infinite linear;
  position: absolute;
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
.aae-video-thumb {
  position: relative;
  margin-top: -150px;
  margin-left: -150px;
  display: inline-block;
}
@media only screen and (max-width: 1500px) {
  .aae-video-thumb {
    margin: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-video-thumb {
    margin: 70px 0 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .aae-video-thumb {
    margin: 40px 0 0 0;
  }
}
.aae-video-thumb video {
  width: 450px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media only screen and (max-width: 1500px) {
  .aae-video-thumb video {
    width: 350px;
  }
}
@media only screen and (max-width: 1399px) {
  .aae-video-thumb video {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-video-thumb video {
    width: 100%;
  }
}

.aae-card-area {
  position: relative;
  padding-bottom: 210px;
}
@media only screen and (max-width: 1399px) {
  .aae-card-area {
    padding-bottom: 160px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-card-area {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-card-area {
    padding-bottom: 60px;
  }
}
.aae-card-area .aae-card-bg {
  position: absolute;
  left: 0;
  z-index: -1;
  top: -550px;
}
.aae-card-area .aae-toolkit-card-number {
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
}
.aae-card-area .aae-content-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  color: var(--white);
}
@media only screen and (max-width: 1199px) {
  .aae-card-area .aae-content-title {
    font-size: 16px;
  }
}

.aae-toolkit-grid {
  display: grid;
  grid-template-columns: 1fr 410px 1fr;
  align-items: center;
  gap: 55px;
}
@media only screen and (max-width: 1500px) {
  .aae-toolkit-grid {
    gap: 25px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-toolkit-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 991px) {
  .aae-toolkit-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .aae-toolkit-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

.aae-toolkit-title {
  font-size: 90px;
  line-height: 1.11;
  font-weight: 300;
  color: var(--white) !important;
}
@media only screen and (max-width: 1399px) {
  .aae-toolkit-title {
    font-size: 70px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-toolkit-title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-toolkit-title {
    font-size: 35px;
  }
}
.aae-toolkit-title .highlight {
  position: relative;
  display: inline-block;
}
.aae-toolkit-title .highlight::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 18px;
  height: 13px;
  width: 100%;
  background: url("../img/bg/underline-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -2;
}

.aae-toolkit-item {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .aae-toolkit-item:last-child {
    display: none;
  }
}

.aae-toolkit-item-cards {
  position: absolute;
  top: 0;
  left: 0;
  background: #3E2822;
  border-radius: 20px;
}
.aae-toolkit-item-cards:nth-child(2) {
  transform: rotate(10deg);
}
@media only screen and (max-width: 767px) {
  .aae-toolkit-item-cards:nth-child(2) {
    display: none;
  }
}
.aae-toolkit-item-cards:nth-child(3) {
  transform: rotate(0);
}
@media only screen and (max-width: 767px) {
  .aae-toolkit-item-cards:nth-child(3) {
    display: none;
  }
}

.aae-toolkit-item-card-list {
  padding: 24px 45px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .aae-toolkit-item-card-list {
    padding: 15px;
  }
}
.aae-toolkit-item-card-list::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  background: linear-gradient(-165deg, rgba(255, 255, 255, 0.2) 0%, rgba(85, 85, 85, 0.2) 100%);
  border-radius: 20px;
}

.aae-toolkit-card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.aae-content-item-wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
}
.aae-content-item-wrapper::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  background: linear-gradient(-165deg, rgba(255, 255, 255, 0.2) 0%, rgba(85, 85, 85, 0.2) 100%);
  border-radius: 60px;
}

.aae-content-item-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 60px;
  background: linear-gradient(45deg, #FFFFFF, #555555, #FFFFFF);
  -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  filter: blur(20px);
}

.aae-content-item-bg {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
}

.aae-toolkit-card-icon {
  text-align: center;
}
.aae-toolkit-card-icon img {
  display: inline-block;
}
@media only screen and (max-width: 1199px) {
  .aae-toolkit-card-icon img {
    width: 50%;
  }
}

.aae-feature-area {
  background-color: #1A1A1A;
  border-radius: 30px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  padding-top: 150px;
}
@media only screen and (max-width: 1199px) {
  .aae-feature-area {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-feature-area {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-feature-area {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-feature-area .section-title svg {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-feature-area .section-title br {
    display: none;
  }
}

.aae-feature-top {
  display: flex;
  align-items: center;
  gap: 132px;
}
@media only screen and (max-width: 1199px) {
  .aae-feature-top {
    gap: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-feature-top {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 767px) {
  .aae-feature-top {
    gap: 40px;
  }
}
.aae-feature-top .gradient-text {
  background: linear-gradient(30deg, rgb(158, 214, 0) 0%, rgb(1, 148, 195) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aae-feature-btn-wrapper .aae-hero-btn {
  justify-content: flex-start;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .aae-feature-btn-wrapper .aae-hero-btn {
    padding-top: 20px;
  }
}

.aae-feature-right {
  max-width: 439px;
}

.aae-feature-btn-wrapper {
  padding-top: 40px;
}
@media only screen and (max-width: 1199px) {
  .aae-feature-btn-wrapper {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-feature-btn-wrapper {
    padding-top: 0;
  }
}

.aae-feature-item {
  position: relative;
  padding-top: 60px;
  z-index: 2;
  max-width: 378px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 991px) {
  .aae-feature-item {
    max-width: 48%;
    padding-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-feature-item {
    max-width: 100%;
    padding-top: 30px;
  }
}
.aae-feature-item.feature-item-two {
  padding-top: 60px;
  padding-bottom: 16px;
  align-self: flex-start;
}
.aae-feature-item.feature-item-two .aae-feature-item-subtitle {
  padding-bottom: 40px;
  line-height: 1.33;
}
.aae-feature-item.feature-item-two .thumb-image {
  text-align: center;
}
.aae-feature-item.feature-item-two .thumb-image img {
  display: inline-block;
}
.aae-feature-item.feature-item-three {
  background-size: cover;
  background-repeat: no-repeat;
  align-self: flex-start;
  min-height: 375px;
}
.aae-feature-item.feature-item-three::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0.2) 100%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 19px;
  z-index: -2;
}
.aae-feature-item.feature-item-four {
  align-self: flex-start;
}
.aae-feature-item.feature-item-four .thumb-image {
  padding-top: 20px;
  padding-bottom: 26px;
}
.aae-feature-item.feature-item-five .aae-feature-item-content {
  text-align: start;
}
.aae-feature-item.six {
  max-width: unset;
  width: 784px;
  height: 515px;
  margin-top: -150px;
}
@media only screen and (max-width: 1500px) {
  .aae-feature-item.six {
    margin-top: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-feature-item.six {
    width: unset;
  }
}
@media only screen and (max-width: 767px) {
  .aae-feature-item.six {
    width: 100%;
  }
}

.aae-feature-item-content {
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  text-align: center;
}

.aae-feature-item-title {
  font-size: 60px;
  line-height: 1;
  font-weight: 300;
  display: block;
  padding-bottom: 20px;
  background: linear-gradient(190deg, rgb(255, 255, 255) 0%, rgb(51, 51, 51) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 991px) {
  .aae-feature-item-title {
    font-size: 36px;
  }
}

.aae-feature-item-subtitle {
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  display: block;
  padding-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  .aae-feature-item-subtitle {
    font-size: 20px;
  }
}

.thumb-video {
  position: relative;
}
.thumb-video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(32, 32, 32);
  background: rgb(32, 32, 32);
  background: linear-gradient(180deg, rgb(32, 32, 32) 0%, rgba(32, 32, 32, 0) 100%);
}

.aae-feature-bottom {
  padding-top: 100px;
}
@media only screen and (max-width: 1199px) {
  .aae-feature-bottom {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-feature-bottom {
    padding-top: 40px;
  }
}

.aae-feature-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.aae-demo-area {
  position: relative;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  padding-top: 220px;
}
@media only screen and (max-width: 1399px) {
  .aae-demo-area {
    padding-top: 200px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-demo-area {
    padding-top: 100px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-demo-area {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-demo-area {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.aae-demo-area .aae-card-bg {
  position: absolute;
  left: 0;
  z-index: -1;
  top: -350px;
}

.aae-filter-button-wrapper {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 1199px) {
  .aae-filter-button-wrapper {
    padding-bottom: 60px;
  }
}

.aae-filter-buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #363636;
  background: rgba(255, 255, 255, 0.05);
  padding: 24px 30px;
  border-radius: 20px;
}
@media only screen and (max-width: 1199px) {
  .aae-filter-buttons {
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-filter-buttons {
    padding: 15px 10px;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.aae-filter-buttons li:last-child a {
  background: rgba(255, 255, 255, 0.1);
  color: var(--white);
  display: flex;
  gap: 4px;
}
.aae-filter-buttons li a {
  padding: 8px 25px;
  background-color: transparent;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .aae-filter-buttons li a {
    font-size: 16px;
  }
}
.aae-filter-buttons li a:hover {
  background-color: var(--primary);
}

.aae-demo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media only screen and (max-width: 991px) {
  .aae-demo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-demo-grid {
    grid-template-columns: 1fr;
  }
}

.aae-demo-grid-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}
.aae-demo-grid-item .aae-demo-grid-item-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
}

.aae-demo-grid-item-thumb img {
  border-radius: 10px;
  width: 100%;
}

.aae-filter-btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  position: relative;
  z-index: 3;
}
.aae-filter-btn-wrapper .aae-primary-btn {
  padding: 16px 27px;
}
@media only screen and (max-width: 767px) {
  .aae-filter-btn-wrapper .aae-primary-btn {
    padding: 12px 27px;
  }
}

.aae-widgets-area {
  position: relative;
  background: #1A1A1A;
  border-radius: 30px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  .aae-widgets-area {
    margin: 0;
  }
}
.aae-widgets-area .aae-card-bg {
  position: absolute;
  left: 0;
  z-index: -2;
  top: -350px;
}
.aae-widgets-area .section-description {
  padding-bottom: 25px;
}
@media only screen and (max-width: 991px) {
  .aae-widgets-area .section-description {
    padding-bottom: 0;
  }
}

.section-title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aae-widgets-item {
  background: var(--white);
  padding: 60px;
  position: relative;
  z-index: 2;
  max-width: 529px;
  border-radius: 16px;
}
@media only screen and (max-width: 767px) {
  .aae-widgets-item {
    padding: 30px;
  }
}
.aae-widgets-item.aae-widgets-item-one {
  background-color: #404CD6;
}
.aae-widgets-item.aae-widgets-item-two {
  background-color: #F6B22B;
}
.aae-widgets-item.aae-widgets-item-three {
  background-color: #21A98E;
}
.aae-widgets-item .aae-widgets-item-icon {
  margin-bottom: 38px;
}
@media only screen and (max-width: 767px) {
  .aae-widgets-item .aae-widgets-item-icon {
    margin-bottom: 20px;
  }
}
.aae-widgets-item .aae-widgets-item-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 6px;
}
.aae-widgets-item .aae-widgets-item-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.aae-widgets-item .aae-widgets-description {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
}
.aae-widgets-item .aae-widgets-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.aae-extention-area {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}
.aae-extention-area .aae-hero-btn {
  padding-top: 30px;
}
@media only screen and (max-width: 767px) {
  .aae-extention-area .aae-hero-btn {
    padding-top: 10px;
  }
}
.aae-extention-area .aae-primary-btn-wrapper {
  padding: 15px 5px;
}

.aae-extention-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;
}
@media only screen and (max-width: 991px) {
  .aae-extention-items {
    gap: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-extention-items {
    gap: 15px;
  }
}

.aae-extention-item {
  border: 1px solid #555555;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.02);
  display: flex;
  align-items: center;
  justify-content: center;
}
.aae-extention-item span {
  font-size: 20px;
  line-height: 1.5;
  color: var(--white);
  text-transform: capitalize;
}
@media only screen and (max-width: 991px) {
  .aae-extention-item span {
    font-size: 14px;
  }
}
.aae-extention-item.w-380 {
  height: 380px;
  width: 380px;
}
@media only screen and (max-width: 1199px) {
  .aae-extention-item.w-380 {
    height: 300px;
    width: 300px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-extention-item.w-380 {
    height: 200px;
    width: 200px;
  }
}
.aae-extention-item.w-250 {
  height: 250px;
  width: 250px;
}
@media only screen and (max-width: 1199px) {
  .aae-extention-item.w-250 {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-extention-item.w-250 {
    height: 150px;
    width: 150px;
  }
}
.aae-extention-item.w-200 {
  height: 200px;
  width: 200px;
}
@media only screen and (max-width: 1199px) {
  .aae-extention-item.w-200 {
    height: 150px;
    width: 150px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-extention-item.w-200 {
    height: 100px;
    width: 100px;
  }
}
.aae-extention-item.w-220 {
  height: 220px;
  width: 220px;
}
.aae-extention-item.w-150 {
  height: 150px;
  width: 150px;
}
.aae-extention-item.w-120 {
  height: 120px;
  width: 120px;
}

.aae-pricing-area .section-title-wrapper {
  padding-bottom: 80px;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-area .section-title-wrapper {
    padding-bottom: 60px;
  }
}

.aae-pricing-items {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-items {
    gap: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-pricing-items {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  .aae-pricing-items {
    gap: 30px;
  }
}

.aae-pricing-item {
  background-color: #1E1E1E;
  padding: 40px;
  position: relative;
  border-radius: 20px;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-item {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 991px) {
  .aae-pricing-item {
    flex-basis: 47%;
  }
}
@media only screen and (max-width: 767px) {
  .aae-pricing-item {
    flex-basis: 100%;
  }
}
.aae-pricing-item .title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 11px;
  color: var(--white);
}
.aae-pricing-item .desc {
  color: #999999;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-item .desc {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-pricing-item .desc {
    margin-bottom: 15px;
  }
}
.aae-pricing-item .price-tag {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 500;
  color: var(--white);
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-item .price-tag {
    font-size: 30px;
  }
}
.aae-pricing-item .reneue {
  display: flex;
  gap: 15px;
  margin-bottom: 45px;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-item .reneue {
    margin-bottom: 28px;
  }
}
.aae-pricing-item .reneue li {
  font-size: 18px;
  color: var(--primary);
  position: relative;
  line-height: 1;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-item .reneue li {
    font-size: 14px;
  }
}
.aae-pricing-item .reneue li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -7px;
  top: 0;
  height: 15px;
  width: 1px;
  background: var(--primary);
}
.aae-pricing-item .aae-primary-btn-wrapper {
  display: block;
  padding: 6px 10px;
}
.aae-pricing-item .aae-primary-btn {
  padding: 16px 27px;
  text-align: center;
  display: block;
  font-size: 18px;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-item .aae-primary-btn {
    padding: 10px 10px;
    font-size: 14px;
  }
}
.aae-pricing-item .pricing-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-item .pricing-features {
    padding-top: 30px;
  }
}
.aae-pricing-item .pricing-features li {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-item .pricing-features li {
    font-size: 13px;
  }
}
.aae-pricing-item .price-ribon {
  background: #BAFFAF;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 18px;
  border-radius: 0 50px;
}
.aae-pricing-item .price-ribon span {
  color: #121212;
  font-size: 14px;
  font-weight: 600;
}
@media only screen and (max-width: 1199px) {
  .aae-pricing-item .price-ribon span {
    font-size: 12px;
  }
}
.aae-pricing-item .price-ribon {
  position: absolute;
  top: 0;
  right: 0;
}

.aae-reviews-area {
  background-color: #1A1A1A;
  border-radius: 30px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}
@media only screen and (max-width: 767px) {
  .aae-reviews-area {
    margin: 0;
  }
}
.aae-reviews-area .section-title-wrapper {
  text-align: start;
  padding-bottom: 120px;
}
@media only screen and (max-width: 1199px) {
  .aae-reviews-area .section-title-wrapper {
    padding-bottom: 60px;
  }
}
.aae-reviews-area .aae-hero-btn {
  margin-bottom: 0;
}
@media only screen and (max-width: 1199px) {
  .aae-reviews-area .review-desc {
    font-size: 16px;
  }
}

.aae-reviews-top {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 35px;
}

.reviews-count {
  font-size: 18px;
  color: var(--white);
}

.aae-reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media only screen and (max-width: 991px) {
  .aae-reviews-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .aae-reviews-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.aae-reviews-item {
  background: rgba(255, 255, 255, 0.02);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #555;
  position: relative;
  align-self: flex-start;
}
@media only screen and (max-width: 1199px) {
  .aae-reviews-item {
    padding: 20px;
  }
}
.aae-reviews-item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.aae-reviews-item .content {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.aae-reviews-item .content img {
  width: 100%;
  border-radius: 10px;
}
.aae-reviews-item .footer {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 1199px) {
  .aae-reviews-item .footer {
    gap: 10px;
  }
}
.aae-reviews-item .name {
  font-size: 20px;
  font-weight: 300;
  color: var(--white);
  padding-bottom: 3px;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .aae-reviews-item .name {
    font-size: 16px;
  }
}
.aae-reviews-item .name::before {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 9px;
  height: 20px;
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
}
.aae-reviews-item .post {
  font-size: 18px;
  font-weight: 300;
  color: #999999;
}
.aae-reviews-item .icon {
  display: flex;
  gap: 5px;
}
.aae-reviews-item .play-video-btn {
  position: absolute;
  background: var(--white);
  height: 70px;
  width: 70px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
  text-transform: capitalize;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aae-faq-area .section-title-wrapper {
  padding-bottom: 100px;
}
@media only screen and (max-width: 1199px) {
  .aae-faq-area .section-title-wrapper {
    padding-bottom: 50px;
  }
}

.aae-faq-grid {
  display: grid;
  grid-template-columns: 0.51fr 1fr;
  gap: 50px;
}
@media only screen and (max-width: 767px) {
  .aae-faq-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.aae-faq-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aae-faq-item-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 20px;
}
@media only screen and (max-width: 1199px) {
  .aae-faq-item-btn {
    font-size: 16px;
  }
}

.aae-faq-item-title {
  font-size: 32px;
  color: var(--white);
  font-weight: 500;
  line-height: 1.18;
  padding-bottom: 70px;
}
@media only screen and (max-width: 1199px) {
  .aae-faq-item-title {
    font-size: 18px;
    padding-bottom: 40px;
  }
}

.aae-faq-item {
  background: rgba(255, 255, 255, 0.05);
  padding: 48px 50px;
  border-radius: 20px;
}
@media only screen and (max-width: 1199px) {
  .aae-faq-item {
    padding: 30px 20px;
  }
}

.aae-faq-accordion-title {
  font-size: 22px;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .aae-faq-accordion-title {
    font-size: 18px;
  }
}

.aae-faq-accordion-content p {
  font-size: 20px;
  color: #999999;
  line-height: 1.5;
}

.aae-faq-accordion-item {
  border: 1px solid #555555;
  margin-bottom: 10px;
  border-radius: 4px;
}

.aae-faq-accordion-title {
  padding: 15px 30px;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
}

.aae-faq-accordion-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.aae-faq-accordion-item.active .aae-faq-accordion-content {
  padding: 15px 30px;
  max-height: 1000px;
}
@media only screen and (max-width: 767px) {
  .aae-faq-accordion-item.active .aae-faq-accordion-content {
    padding-top: 0;
  }
}

.aae-faq-accordion-content p {
  margin: 0;
}

.aae-text-slider-item {
  background: rgb(246, 80, 44);
  background: linear-gradient(180deg, rgb(246, 80, 44) 100%, rgb(255, 153, 0) 100%);
  padding: 30px 0;
}
@media only screen and (max-width: 767px) {
  .aae-text-slider-item {
    padding: 20px 0;
  }
}
.aae-text-slider-item .aae-text-slider-title {
  font-family: var(--font_ppfragment);
  font-size: 80px;
  color: var(--white);
  font-weight: 300;
  line-height: 1;
}
@media only screen and (max-width: 1199px) {
  .aae-text-slider-item .aae-text-slider-title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-text-slider-item .aae-text-slider-title {
    font-size: 28px;
  }
}

.aae-cta-area {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .aae-cta-area {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }
}
.aae-cta-area .section-title {
  display: inline-block;
  padding-bottom: 7px;
}
@media only screen and (max-width: 1399px) {
  .aae-cta-area .section-title {
    margin-top: -17px;
  }
}
@media only screen and (max-width: 1199px) {
  .aae-cta-area .section-title {
    margin-top: -7px;
  }
}
.aae-cta-area .section-description {
  padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .aae-cta-area .section-description {
    padding-bottom: 0;
  }
}
.aae-cta-area .aae-hero-btn {
  margin-bottom: 0;
}

.cta-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}

.cta-img {
  position: absolute;
  left: 24%;
  top: 16%;
  z-index: -2;
}
@media only screen and (max-width: 1500px) {
  .cta-img {
    left: 15%;
  }
}
@media only screen and (max-width: 1199px) {
  .cta-img {
    left: 15%;
    top: 5%;
  }
}
@media only screen and (max-width: 991px) {
  .cta-img {
    display: none;
  }
}

.aae-video-area {
  background-color: #1A1A1A;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  border-radius: 30px;
  padding-top: 140px;
}
@media only screen and (max-width: 1399px) {
  .aae-video-area {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-video-area {
    padding-top: 60px;
    margin: 0;
  }
}
.aae-video-area .aae-hero-btn {
  margin-bottom: 0;
}
.aae-video-area video {
  border-radius: 40px;
}
@media only screen and (max-width: 767px) {
  .aae-video-area video {
    border-radius: 20px;
  }
}
.aae-video-area .video-description {
  padding-bottom: 32px;
}
@media only screen and (max-width: 1199px) {
  .aae-video-area .video-description {
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .aae-video-area .video-description {
    padding-bottom: 0;
  }
}

.section-title-wrapper .video-title {
  font-size: 130px;
  line-height: 1;
  font-weight: 300;
  color: var(--white);
  position: relative;
  margin-bottom: -75px;
}
@media only screen and (max-width: 1199px) {
  .section-title-wrapper .video-title {
    font-size: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .section-title-wrapper .video-title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .section-title-wrapper .video-title {
    font-size: 36px;
    margin-bottom: 0;
  }
}
.section-title-wrapper .video-subtitle {
  font-size: 130px;
  line-height: 1;
  font-weight: 300;
  color: var(--white);
  margin-top: -67px;
  padding-bottom: 12px;
}
@media only screen and (max-width: 1199px) {
  .section-title-wrapper .video-subtitle {
    font-size: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .section-title-wrapper .video-subtitle {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .section-title-wrapper .video-subtitle {
    font-size: 36px;
    margin: 0;
    padding-bottom: 0;
  }
}

.aae-pricing-inner {
  margin-top: -20px;
}

.dark-mode {
  background-color: var(--black-2);
  color: #fff;
}
.light .dark-mode {
  background-color: #F6F6FA;
  color: #555555;
}
.light .dark-mode h1,
.light .dark-mode h2,
.light .dark-mode h3,
.light .dark-mode h4,
.light .dark-mode h5,
.light .dark-mode h6 {
  color: #3F4061;
}
.dark-mode p {
  color: #BBBCD2;
}
.light .dark-mode p {
  color: #555555;
}

.aae-home {
  color: #F5EDE9;
}
.aae-home h1,
.aae-home h2,
.aae-home h3,
.aae-home h4,
.aae-home h5,
.aae-home h6 {
  color: #F5EDE9;
}
.aae-home p {
  color: #999999;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1199px) {
  .aae-home p br {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .aae-home p {
    font-size: 16px;
  }
}
.aae-home-title {
  font-size: 90px;
  line-height: 1.111;
  font-weight: 300;
  color: var(--white);
}/*# sourceMappingURL=home.css.map */